body {
  text-align: center;
  color: white;
  background-color: #383838;
}

/* Game Section */

#Game {
  color: turquoise;
}

.heading {
  font-family: 'Lobster', cursive;
  font-size: 10rem;
  text-shadow: 4px 4px 2px #000000;
  margin: 2rem auto 2rem auto;
}

.play-button {
  margin: 0 auto;
  display: block;
}

.player-die {
  display: inline-block;
  margin: 2rem;
}

.die-img {
  width: 80%;
}

/* Footer Section */

#Footer {
  padding: 3rem 0 3rem 0;
}

.footer-link {
  color: turquoise;
}

.footer-link:hover {
  text-decoration: none;
  color: white;
}
